.person_tiles .person {
  float: left;
  height: 150px;
  width: 48%;
  margin: 0 2% 2% 0;
}
.person_tiles .person .pic {
  float: left;
}
.person_tiles .person .pic img {
  width: 130px;
  height: 130px;
}
.person_tiles .person .data {
  margin-left: 145px;
}
.person_tiles .person .data>div {
  margin-bottom: 10px;
}
.person_tiles .person .title a {
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}
.person_tiles .person .birthday {
  font-size: 11px;
  color: #999;
  position: relative;
}
.person_tiles .person .birthday span {
  font-size: 14px;
}
.person_tiles .person .desc {
  font-weight: 200;
}
